{% extends "::base.html.twig" %}
{% block stylesheets %}
    {% stylesheets
    'assets/css/dev/bootstrap/*'
    'assets/css/dev/*'
    filter='cssrewrite'
    output='assets/css/prod/index.css' %}
    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="screen"/>
    {% endstylesheets %}
{% endblock %}
{% block body %}
    <div id="wrapper" data-controller="notifications">
        <div class="container header">
            <div class="row">
                <div class="span12">
                    <div class="logo uppercase">
                        <h2>simple todo list</h2>
                    </div>
                    <div class="uppercase">
                        <h3>from ruby garage</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="container content" data-controller="project">
        </div>
        <div class="container footer">
            <div class="row">
                <div class="span2 offset5">
                    <button type="button" data-toggle="modal" class="btn btn-primary add_project"
                            data-target="#myModal"><i class="icon icon-plus"></i> Add TODO list
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal_wrapper" data-controller="windows">
        <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
             aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel"></h3>
            </div>
            <div class="modal-body">
                    {% include '::client/project_form.html.twig' %}
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="/assets/js/steal/steal.js"></script>
    <script>
        var templates = [];
        {% javascripts
        "%kernel.root_dir%/Resources/views/client/project.html.twig"
        "%kernel.root_dir%/Resources/views/client/project_form.html.twig"
        filter="twig_js, ?yui_js" %}
        //create a list of templates which should be loaded on client
        templates.push("{{ asset_url }}".replace(/\/app(.*?).php\//, ""));

        {% endjavascripts %}
        //caching rootUrl: we need to download files from different directory
        var oldRoot = steal.rootUrl();

        //after loading templates we can load application
        steal('rubygarage').then(function () {
            steal.rootUrl("{{ app.request.baseUrl }}");
            steal.apply(null, templates);
        });


    </script>
{% endblock %}

