{% twig_js name="project_twig" %}
<div class="row todo" data-project-id="{{ project.id }}">
    <div class="span12 project_title">
        <div class="row">
            <div class="span1 project_icon">
                <div class="icon-white icon-calendar">&nbsp;</div>
            </div>
            <div class="span9 project_name">
                {{ project.name }}
            </div>
            <div class="span2 actions">
                <div class="btn-toolbar">
                    <div class="btn-group-primary">
                        <a class="btn project_edit" href="javascript:void(0)"><i class="icon-edit"></i></a>
                        <a class="btn project_delete" href="javascript:void(0)"><i class="icon-remove"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div data-controller="task">
        <div class="span12 add_task">
            <div class="row">
                <div class="span1">
                    <i class="icon-plus icon-with-margin"></i>
                </div>
                <div class="span11">
                    <form>
                        <div class="input-append">
                            <input class="span9" placeholder="Start typing here to create a task" type="text">
                            <button class="btn btn-success" type="submit">Add new task</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="span12 list_of_tasks">
            <ul class="list">
                {% if project.tasks %}
                    <li class="task">
                        <div class="row">
                            <div class="span1 done">
                                <input type="checkbox"/>
                            </div>
                            <div class="span9 name">
                                Some sample task
                            </div>
                            <div class="span2 actions">
                                <div class="btn-toolbar">
                                    <div class="btn-group-primary">
                                        <a class="btn" href="javascript:void(0)"><i class="icon-move"></i></a>
                                        <a class="btn" href="javascript:void(0)"><i class="icon-edit"></i></a>
                                        <a class="btn" href="javascript:void(0)"><i class="icon-remove"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                {% else %}
                    <li class="no_tasks">
                        <h4> No tasks added yet</h4>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>
